<div class="booking-form-inner">
    <form>
        <div class="row align-items-end">
            <div class="col-lg-3 col-md-6">
                <div class="inputs-filed mt-30">
                    <label for="arrival-date">Arrival Date</label>
                    <div class="icon"><i class="fal fa-calendar-alt"></i></div>
                    <input type="text" placeholder="24th march 2022" name="arrival-date" id="arrival-date">
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="inputs-filed mt-30">
                    <label for="departure-date">Departure Date</label>
                    <div class="icon"><i class="fal fa-calendar-alt"></i></div>
                    <input type="text" placeholder="30th march 2022" name="departure-date" id="departure-date">
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="inputs-filed mt-30">
                    <label for="guests">Guests</label>
                    <select name="guests" id="guests" nice-select>
                        <option value="" disabled selected>Select From Here</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="4">4</option>
                        <option value="8">8</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="inputs-filed mt-30">
                    <button type="submit">check availability</button>
                </div>
            </div>
        </div>
    </form>
</div>