<section class="core-feature-section bg-white pt-115 pb-115">
  <div class="container">
    <div class="section-title text-center mb-50">
      <span class="title-tag"> Core Features </span>
      <h2>Facilities</h2>
    </div>
    <!-- Featre Loop -->
    <div class="row features-loop">
      <div class="col-lg-4 col-sm-6 order-1">
        <div class="feature-box with-hover-img">
          <div class="icon">
            <i class="flaticon-rating"></i>
          </div>
          <h3><a routerLink="/room-grid">Tavern 29 Bar</a></h3>
          <p>
            Rooftop bar located in the hotel premises with a selection of exquisite cocktails and liquor.
          </p>
          <span class="count">01</span>
          <div class="hover-img" [style.background-image]="'url(assets/img/feature/tavernBar.jpg)'"></div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 order-1">
        <div class="feature-box with-hover-img">
          <div class="icon">
            <i class="flaticon-rating"></i>
          </div>
          <h3><a routerLink="/room-grid">Location</a></h3>
          <p>
            Located along the banks of the majestic Mahaweli River minutes away from all the main attractions and the
            Kandy city.
          </p>
          <!-- <div class="hover-img" [style.background-image]="'url(assets/img/feature/tavernBar.jpg)'"></div> -->
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 order-3">
        <div class="feature-box with-hover-img">
          <div class="icon">
            <i class="flaticon-location-pin"></i>
          </div>
          <h3><a routerLink="/room-grid">Fitness Center</a></h3>
          <p>
            Fitness center equipped to keep you active during your stay. Complete with cardio and weightlifting
            equiptment.
          </p>
          <div class="hover-img" [style.background-image]="'url(assets/img/feature/gym.jpg)'"></div>
        </div>
      </div>
      <!-- <div class="col-lg-4 col-sm-6 order-4 order-sm-3 order-lg-4">
        <div class="feature-box">
          <div class="icon">
            <i class="flaticon-clock-1"></i>
          </div>
          <h3>Swimming Pool</h3>
          <p>
            Enjoy a leisurely swim or relax and cool off with the swimming pool. The kids’ pool allows our little guests
            to splash and play the day away.
          </p>
        </div>
      </div> -->

      <div class="col-lg-4 col-sm-6 order-4">
        <div class="feature-box with-hover-img">
          <div class="icon">
            <i class="flaticon-credit-card"></i>
          </div>
          <h3>Swimming Pool</h3>
          <p>
            Enjoy a swim and cool off with the swimming pool. The kids’ pool allows our little guests
            to splashhe day away.
          </p>
          <div class="hover-img" [style.background-image]="'url(assets/img/feature/swimmingPool.jpg)'"></div>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6 order-5">
        <div class="feature-box">
          <div class="icon">
            <i class="flaticon-discount"></i>
          </div>
          <h3>Honeymoon Offers</h3>
          <p>
            Special honyemoon offers available upon request with a variety of added amenities.
          </p>
        </div>
      </div>

      

      <div class="col-lg-4 col-sm-6 order-6">
        <div class="feature-box with-hover-img">
          <div class="icon">
            <i class="flaticon-credit-card"></i>
          </div>
          <h3>Restaurants</h3>
          <p>
            Enjoy a meal at the main Restaurant from a extensive menu or try our Korean BBQ experience overlooking the river.
          </p>
          <div class="hover-img" [style.background-image]="'url(assets/img/feature/koreanBBQ.jpg)'"></div>
        </div>
      </div>

    </div>
  </div>
</section>
