<footer>
    <div class="footer-subscibe-area pt-120 pb-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="subscribe-text text-center">
                        <div class="footer-logo mb-45">
                            <img src="assets/img/logo-2.png" alt="logo">
                        </div>
                        <p>
                            Take a break from the busy life at work and enjoy laid-back luxury at Hotel Ganga Addara in Kandy.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area pt-20 pb-20">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-5 order-2 order-md-1">
                    <!-- <p class="copyright-text">copyright by@yourwebsite</p> -->
                </div>
                <div class="col-md-7 order-1 order-md-2">
                    <div class="social-links">
                        <a href="https://www.facebook.com/hotelgangaaddara"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://www.instagram.com/hotelgangaaddara/?hl=en"><i class="fab fa-instagram"></i></a>
                        <!-- <a href="#"><i class="fab fa-behance"></i></a>
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                        <a href="#"><i class="fab fa-youtube"></i></a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>